{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tom Clancy's Rainbow Six Siege Database{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>About</h2>
<p>This is a web application to illustrate the use of the
Rainbow Six Siege database. I hope you enjoy the journey.
<div><a href="https://rainbowsix.fandom.com/wiki/Tom_Clancy%27s_Rainbow_Six_Siege">Information about the game</a></div>
</p>

<h2>Database Statistics</h2>
<table>
<tr>
  <th>Tables</th>
  <th>Count</th>
</tr>
<tr>
  <td>Operators</td>
  <td>{{ stats.operators }}</td>
</tr>  
<tr>
  <td>Matchs</td>
  <td>{{ stats.matchs }}</td>
</tr>
<tr>
  <td>Rounds</td>
  <td>{{ stats.rounds }}</td>
</tr>
</table>

<h2>Sample Functionality</h2>

<h3>Operators</h3>
<p>
    <a href="/operators">List all</a>
</p>

<p>Search by name:
  <form name="osearch" action="javascript:window.open('/operators/search/'+document.forms['osearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<h3>Rounds</h3>
<p>
  <a href = "/rounds">List all</a>
</p>

<h3>Matchs</h3>
<p>
  <a href = "/matchs">List all</a>
</p>

<div> This is the entry page for the application! This is going to be fun!</div>

{% endblock %}
