{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Matches{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th><b>MatchId</b></th>
            <th><b>Start</b></th>
            <th><b>End</b></th>
            <th><b>Status</b></th>
            <th><b>Map</b></th>
        </tr>
    {% for match in matches %}
        <tr>
            <td><a href="/matches/{{ match.IdMatch }}">{{ match.IdMatch }}</a> </td>
            <td>{{ match.Start }}</td>
            <td>{{ match.End }}</td>
            <td>{{ match.Status }}</td>
            <td>{{ match.Name }}</td>
        </tr>
    {% endfor %}
    </table>   
{% endblock %}
