{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Operators{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
    <tr>
        <th><b>Operator</b></th>
        <th><b>Type</b></th>
        <th><b>Organization</b></th>
    </tr>

    {% for operator in operators %}
        <tr>
            <td><a href="/operators/{{ operator.IdOper }}">{{ operator.Operator }}</a></td>
            <td>{{ operator.Type }}</td>
            <td>{{ operator.Organization }}</td>
        </tr>
    {% endfor %}
    </table>

    <div>
    <a style="color: grey;">You can also find more info about each operator and the different organizations at</a>
    <a href="https://rainbowsix.fandom.com/wiki/Operators_(Siege)">https://rainbowsix.fandom.com/wiki/Operators_(Siege)</a>
    <a style="color: grey;">and</a>
    <a href="https://rainbowsix.fandom.com/wiki/Category:CTU">https://rainbowsix.fandom.com/wiki/Category:CTU</a>
    <a style="color: grey;">respectively.</a>
    </div>
{% endblock %}